* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;
  font-family: "Outfit", sans-serif;
}

.qrcard {
  width: 320px;
  height: 497px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  background: #FFFFFF;
}

.qrcode {
  width: 288px;
  height: 288px;
  display: flex;
  margin: 16px auto;
}

.qrcode img {
  border-radius: 10px;
}

.card-info h2 {
  width: 288px;
  height: 56px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 27.72px;
  display: block;
  margin: 0 auto;
  padding-top: 24px;
}

.para p {
  width: 256px;
  height: 57px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: center;
  margin: 0 auto;
  color: #7D889E;
  padding-bottom: 40px;
}

.para {
  padding-top: 32px;
}

@media only screen and (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: hsl(212, 45%, 89%);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
    font-family: "Outfit", sans-serif;
  }

  .qrcard {
    width: 320px;
    height: 497px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    background: #FFFFFF;
  }

  .card-info h2 {
    width: 288px;
    height: 56px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    display: block;
    margin: 0 auto;
    padding-top: 24px;
  }

  .para p {
    width: 256px;
    height: 57px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    margin: 0 auto;
    color: #7D889E;
  }

  .para {
    padding-top: 32px;
  }
}


